[submodule "agents/git-helper-agent"]
	path = agents/git-helper-agent
	url = https://github.com/salomonhotegni/git-helper-agent.git
[submodule "agents/terminal-ai-helper"]
	path = agents/terminal-ai-helper
	url = https://github.com/salomonhotegni/terminal-ai-helper.git
[submodule "agents/final-boss"]
	path = agents/final-boss
	url = https://github.com/salomonhotegni/final-boss.git
[submodule "agents/long-term-memory-agent"]
	path = agents/long-term-memory-agent
	url = https://github.com/salomonhotegni/long-term-memory-agent.git
	branch = main
[submodule "agents/human-in-the-loop-agent"]
	path = agents/human-in-the-loop-agent
	url = https://github.com/salomonhotegni/human-in-the-loop-agent.git
