[submodule "agents/git-helper-agent"]
	path = agents/git-helper-agent
	url = https://github.com/salomonhotegni/git-helper-agent.git
[submodule "agents/terminal-ai-helper"]
	path = agents/terminal-ai-helper
	url = https://github.com/salomonhotegni/terminal-ai-helper.git
[submodule "agents/final-boss"]
	path = agents/final-boss
	url = https://github.com/salomonhotegni/final-boss.git
